.product__container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.product__image {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
}

.product__info {
    flex: 2;
}

.product__info table {
    width: 100%;
}

.product__info table th, .product__info table td {
    padding: 8px;
    border-bottom: 1px solid #be0d0d;
}

.product__info table th {
    text-align: left;
    font-size: 20px;
}

.product__info table tbody tr:last-child td {
    border-bottom: none;
}

.product__info p {
    color: #0935ef;
    font-size: 22px;
}

.product__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product__btn-item {
    background-color: #586fd2;
    height: 4vh;
    width: 5vw;
    margin: 0 5px;
}
